<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]>
<xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml>
<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
  <title></title>
  
    <style type="text/css">
      @media only screen and (min-width: 620px) {
  .u-row {
    width: 600px !important;
  }
  .u-row .u-col {
    vertical-align: top;
  }

  .u-row .u-col-24p33 {
    width: 145.98px !important;
  }

  .u-row .u-col-50 {
    width: 300px !important;
  }

  .u-row .u-col-75p67 {
    width: 454.02px !important;
  }

  .u-row .u-col-100 {
    width: 600px !important;
  }

}

@media (max-width: 620px) {
  .u-row-container {
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .u-row .u-col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
  }
  .u-row {
    width: 100% !important;
  }
  .u-col {
    width: 100% !important;
  }
  .u-col > div {
    margin: 0 auto;
  }
}
body {
  margin: 0;
  padding: 0;
}

table,
tr,
td {
  vertical-align: top;
  border-collapse: collapse;
}

p {
  margin: 0;
}

.ie-container table,
.mso-container table {
  table-layout: fixed;
}

* {
  line-height: inherit;
}

a[x-apple-data-detectors='true'] {
  color: inherit !important;
  text-decoration: none !important;
}

table, td { color: #000000; } #u_body a { color: #0000ee; text-decoration: underline; } @media (max-width: 480px) { #u_content_image_2 .v-src-width { width: auto !important; } #u_content_image_2 .v-src-max-width { max-width: 22% !important; } #u_content_image_2 .v-text-align { text-align: center !important; } #u_content_menu_2 .v-container-padding-padding { padding: 10px !important; } #u_content_menu_2 .v-padding { padding: 5px 8px !important; } #u_content_heading_1 .v-font-size { font-size: 44px !important; } #u_content_heading_1 .v-line-height { line-height: 100% !important; } #u_content_social_1 .v-container-padding-padding { padding: 40px 10px 10px !important; } #u_content_text_11 .v-container-padding-padding { padding: 10px 10px 20px !important; } }
    </style>

</head>

<body class="clean-body u_body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #ffffff;color: #000000">
	<!--Logo Row-->
	<div class="u-row-container" style="padding: 0px;background-color: transparent">
		
		 <div class="u-row" style="margin: 0 auto;min-width: 320px;max-width: 600px; background: linear-gradient(to top, #004ea8, #02356f); margin-left: auto; margin-right:auto;">
			 
		<a href="https://magnawavepemf.com/"><img src="https://magnawavepemf.com/wp-content/uploads/2023/06/MagnaWave-logoWHT.png" alt="image" style="outline: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;text-align: center;border: none;float: none;height: auto;width: 90%; margin-left: 25px; margin-right:auto;margin-bottom: 10px; margin-top: 10px;" title="image" align="left" border="0"/></a>
			 
		</div>
		
	</div>
  <!--Hero Image Row-->
	
	<div class="u-row-container" style="padding: 0px;background-color: transparent">
		
	  <div class="u-row" style="margin: 0 auto;min-width: 320px;max-width: 600px;background-color: transparent;">
			 
		 <img src="https://magnawavepemf.com/wp-content/uploads/2023/07/groupshot23-scaled.webp" alt="image" width="463" height="452" class="v-src-width v-src-max-width" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;margin-top: 20px;height: auto;float: none;width: 100%;max-width: 600px;" title="image" align="center" border="0"/>
			 
		</div>
		
	</div>
  <!--Title Row-->
	<div class="u-row-container" style="padding: 0px;background-color: transparent">
		
	  <div class="u-row" style="margin: 0 auto;min-width: 320px;max-width: 600px;background-color: transparent; text-align: center">
			 
		 <h1 style="text-align: center; font-family: 'montserrat' ">MagnaWave Map Lead</h1>
			 
		</div>
		
	</div>
	
<!--Lead Row-->
	
	<div class="u-row-container" style="padding: 0px;background-color: transparent">
		
		 <div class="u-row" style="margin: 0 auto;min-width: 320px;max-width: 600px;background-color: #004ea8; margin-left: auto; margin-right:auto;">
			 
			<div class="v-text-align v-line-height v-font-size" style="font-size: 14px; color: #ffffff; line-height: 130%; text-align: center; word-wrap: break-word; ">
    			<p style="line-height: 130%; padding-top: 35px;">This person is searching for PEMF sessions in your area.</p>
    		</div> 
			 
			<div class="v-text-align v-line-height v-font-size" style="font-size: 24px; font-weight: 700; color: #ffffff; line-height: 85%; text-align: center; word-wrap: break-word;">
    			<p style="line-height: 70%; padding-top: 15px;">Name: <%= @s_name %></p>
  			</div>
			 
			 <div class="v-text-align v-line-height v-font-size" style="font-size: 24px; font-weight: 700; color: #ffffff; line-height: 85%; text-align: center; word-wrap: break-word;">
    <p style="line-height: 70%; padding-top: 15px;">Phone: <%= @s_phone %></p>
  </div>
			 
			 <div class="v-text-align v-line-height v-font-size" style="font-size: 24px; font-weight: 700; color: #ffffff; line-height: 85%; text-align: center; word-wrap: break-word;">
    <p style="line-height: 70%; padding-top: 15px;">Email: <%= @s_email %></p>
  </div>
			 
			 <div class="v-text-align v-line-height v-font-size" style="font-size: 14px; color: #ffffff; line-height: 130%; text-align: center; word-wrap: break-word;">
    <p style="line-height: 130%; padding-top: 25px; ">THIS LEAD HAS BEEN SENT TO MULTIPLE PRACTITIONERS IN YOUR AREA.</p>
<p style="line-height: 130%;">IF YOU WOULD LIKE TO LEARN MORE ABOUT RECEIVING EXCLUSIVE LEADS <a rel="noopener" href="https://magnawaveportal.com/exclusive-map-leads/" target="_blank" style="padding:5px 15px;display:inline-block;color:#fff;font-size:14px;text-decoration:none; padding-bottom: 35px;" >CLICK HERE.</a></p>
  </div>
			 
		
		
	</div>

<!--whats new Row-->
		<div class="u-row-container" style="padding: 0px;background-color: transparent">
		
	  <div class="u-row" style="margin: 0 auto;min-width: 320px;max-width: 600px;background-color: transparent; text-align: center">
			 
		 <h3 style="text-align: center; font-family: 'montserrat' ">What's New With MagnaWave</h3>
			 
		</div>
		
	</div>
	
<!--Special Section Row-->
		
			<div class="u-row-container" style="padding: 0px;background-color: transparent">
		
	  <div class="u-row" style="margin: 0 auto;min-width: 320px;max-width: 600px;background-color: #fff; color: #004ea8; font-family: 'montserrat'; text-align: center; padding-bottom: 25px;">
		  
		<div class="v-text-align v-line-height v-font-size" style="font-size: 24px; font-weight: 700; color: #004ea8; line-height: 85%; text-align: center; word-wrap: break-word;">
          <p style="line-height: 70%; padding-top: 15px;">Back To School With MagnaWave</p>
        </div>
		   <p style="line-height: 70%; padding-top: 15px; text-align: center;">Our biggest sale of the year!</p>
		 <img src="https://magnawavepemf.com/wp-content/uploads/2024/07/BTS-2024-Machines-12b-scaled.webp" alt="image" width="463" height="452" class="v-src-width v-src-max-width" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;margin-top: 20px;height: auto;float: none;width: 100%;max-width: 600px;" title="image" align="center" border="0"/>
		  
		  <div style="margin: 0 auto;min-width: 120px;max-width: 250px;background-color: #ffb81c; border-radius: 15px;">
		  <p style="line-height: 170%;"><a style=" padding:5px 15px;display:inline-block;color:#fff;font-size:14px;text-decoration:none"  href="https://magnawavepemf.com/back-to-school-with-magnawave/" target="_blank"> See Details </a>  </p>
			 </div>
		</div>
		
	</div>
		
<!--Links Row-->
	<div class="u-row-container" style="padding: 0px;background-color: transparent">
		
	  <div class="u-row" style="margin: 0 auto;min-width: 320px;max-width: 600px;background-color: transparent; text-align: center; padding-bottom: 25px;">
			 
		 <h3 style="text-align: center; font-family: 'montserrat' ">Practitioner Links</h3>
		  
		  <p style="line-height: 140%;"><a style="padding:5px 15px;display:inline-block;color:#004ea8;font-size:15px;text-decoration:none"  href="https://magnawaveportal.com/affiliate-dashboard/" target="_blank"> Affiliate Dashboard </a>  </p>
		  <p style="line-height: 140%;"><a style="padding:5px 15px;display:inline-block;color:#004ea8;font-size:15px;text-decoration:none"  href="https://magnawavepemf.com/refer-a-friend/" target="_blank"> Refer A Friend </a>  </p>
		  <p style="line-height: 140%;"><a style="padding:5px 15px;display:inline-block;color:#004ea8;font-size:15px;text-decoration:none"  href="https://magnacon.com/shop/uncategorized/magnacon-2026-early-bird-tickets/" target="_blank"> MagnaCon 26 Tickets </a>  </p>
			 
	  </div>
		
	</div>
	
	
<!--Footer Row-->
		
<div class="u-row-container" style="padding: 0px;background-color: transparent">
		
  <div class="u-row" style="margin: 0 auto;min-width: 320px;max-width: 600px;background-color: #004ea8; margin-left: auto; margin-right:auto;">
			 
			 <div class="v-text-align v-line-height v-font-size" style="font-size: 14px; color: #ffffff; line-height: 170%; text-align: center; word-wrap: break-word;">
				<p style="line-height: 170%;"><a style="padding:5px 15px;display:inline-block;color:#fff;font-size:14px;text-decoration:none"  href="https://magnawavepemf.com/privacy-policy/" target="_blank"> PRIVACY POLICY </a>  </p>
				<p style="line-height: 170%;"> </p>
				<p style="line-height: 170%;">If you would like to stop receiving these lead emails, please contact us to be removed from the system. </p>
			 </div>
			 
	</div>
		
</div>

</body>

</html>