<h1>Hello Practitioner </h1>

<p>Someone is searching for PEMF sessions in your area. </p>
<p>Name:  <%= @s_name %> </p>
<p> Email: <%= @s_email %> </p>
<p> Phone: <%= @s_phone %> </p>
  
<p> 
  This information has been sent out to all the registered practitioners in your area. 
  If you would like to learn about our exclusive leads program please see our awesome sales pitch. 
</p>
<p>
  Thanks and happy MagnaWaving!
  Sincerely,
  MagnaWave
</p>
